.banner-container {
  position: relative;
  width: 100%;
  height: 70vh;
  margin-bottom: 2vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  @include responsive(D) {
    height: 70vh;
  }
  @include responsive(M) {
    height: 30vh;
  }
  @include responsive(T) {
    height: 40vh;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: inherit;
    background: linear-gradient(to right, $black, transparent);
  }

  .banner-info {
    width: 45%;
    margin-left: 30px;
    background-color: transparent;
    z-index: $overlay-level;
    @include responsive(M) {
      h1 {
        font-size: 1rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
    h1,
    p {
      background-color: transparent;
    }
    h1 {
      font-weight: 700;
    }
    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
