.modal-background {
  width: 100%;
  height: 105vh;
  position: absolute;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);
  overflow-x: hidden;
  z-index: $gnb-level;
  @include responsive(M) {
    left: 50%;
    transform: translateX(-50%);
  }
  &.open {
    animation: FadeIn 0.3s;
  }

  .modal-container {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    padding: 30px;
    overflow-x: hidden;
    @include responsive(M) {
      height: 50%;
    }
    @include responsive(T) {
      height: 50%;
    }

    .controller {
      position: absolute;
      top: 0;
      right: 6%;
      overflow-x: hidden;
      font-size: 2rem;
      @include responsive(M) {
        top: 3.5%;
        font-size: 1.1rem;
      }
      @include responsive(T) {
        top: 4%;
        font-size: 1.2rem;
      }
    }

    .iframe {
      width: 90%;
      height: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include responsive(M) {
        height: 70%;
      }
      @include responsive(T) {
        height: 75%;
      }
    }
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
