* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #222; }

html {
  color: #ffffff; }

body {
  color: #ffffff; }

h1 {
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

button,
input,
select,
textarea {
  border: none;
  background-color: transparent; }
  button:focus,
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
    box-shadow: none; }

a,
button {
  cursor: pointer; }

button {
  padding: 0; }

ul,
ol,
li {
  list-style: none;
  padding-left: 0; }

address {
  font-style: normal; }

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important; }

@media screen and (min-width: 768px) {
  .sm-only {
    display: none !important; } }

@media screen and (max-width: 767px) {
  .md-only {
    display: none !important; } }

@media screen and (min-width: 1200px) {
  .md-only {
    display: none !important; } }

@media screen and (max-width: 1199px) {
  .lg-only {
    display: none !important; } }

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none !important; } }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .md-hidden {
    display: none !important; } }

@media screen and (min-width: 1200px) {
  .lg-hidden {
    display: none !important; } }

.gnb-container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90px;
  background-color: #222;
  z-index: 30; }
  @media screen and (max-width: 767px) {
    .gnb-container {
      display: block;
      height: 70px; } }
  .gnb-container .gnb-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1808px;
    height: 90px;
    padding: 0 20px;
    background-color: #222; }
    @media screen and (max-width: 767px) {
      .gnb-container .gnb-top {
        height: 70px; } }
    .gnb-container .gnb-top .gnb-tl {
      display: flex;
      align-items: center; }
      .gnb-container .gnb-top .gnb-tl .logo {
        margin-right: 15px; }
        .gnb-container .gnb-top .gnb-tl .logo img {
          width: 150px; }
          @media screen and (max-width: 767px) {
            .gnb-container .gnb-top .gnb-tl .logo img {
              width: 88px; } }
      .gnb-container .gnb-top .gnb-tl ul {
        display: flex;
        padding: 0;
        margin: 0; }
        .gnb-container .gnb-top .gnb-tl ul li {
          margin-right: 20px; }
          .gnb-container .gnb-top .gnb-tl ul li:last-child {
            margin-right: 0; }
          .gnb-container .gnb-top .gnb-tl ul li .link {
            padding: 8px;
            color: #ffffff;
            text-decoration: none;
            transition: 0.5s; }
            .gnb-container .gnb-top .gnb-tl ul li .link:hover {
              opacity: 0.5; }
    .gnb-container .gnb-top .gnb-tr .gnb-searchform input {
      width: 200px;
      margin-right: 8px;
      color: #666666;
      background-color: #ffffff;
      border-radius: 3px;
      padding-left: 8px; }
    .gnb-container .gnb-top .gnb-tr .gnb-searchform button {
      transition: 0.5s; }
      .gnb-container .gnb-top .gnb-tr .gnb-searchform button:hover {
        opacity: 0.5; }

@media screen and (max-width: 767px) {
  .search-m-con {
    height: 0;
    background-color: #222;
    visibility: hidden;
    transition: 0.5s;
    z-index: 30; }
    .search-m-con .search-m-form {
      transform: translateX(-100vw);
      transition: 0.5s; }
      .search-m-con .search-m-form input {
        width: 50%;
        min-width: 200px;
        padding-left: 8px;
        margin: 0 8px 15px 20px;
        border-radius: 3px;
        background-color: #ffffff;
        color: #666666; }
    .search-m-con.active {
      position: sticky;
      top: 70px;
      height: 35px;
      visibility: visible; }
      .search-m-con.active .search-m-form {
        transform: translateX(0); } }

.banner-container {
  width: 100%;
  height: 70vh;
  margin-bottom: 2vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center; }
  @media screen and (min-width: 1200px) {
    .banner-container {
      height: 70vh; } }
  @media screen and (max-width: 767px) {
    .banner-container {
      height: 30vh; } }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .banner-container {
      height: 40vh; } }
  .banner-container::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: inherit;
    background: linear-gradient(to right, #222, transparent); }
  .banner-container .banner-info {
    width: 45%;
    margin-left: 30px;
    background-color: transparent;
    z-index: 20; }
    @media screen and (max-width: 767px) {
      .banner-container .banner-info h1 {
        font-size: 1rem; }
      .banner-container .banner-info p {
        font-size: 0.8rem; } }
    .banner-container .banner-info h1,
    .banner-container .banner-info p {
      background-color: transparent; }
    .banner-container .banner-info h1 {
      font-weight: 700; }
    .banner-container .banner-info p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden; }

.moviecard-container {
  width: auto;
  height: 20vh;
  margin: 0 2px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 10px;
  cursor: pointer; }
  @media screen and (max-width: 767px) {
    .moviecard-container {
      height: 120px; } }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .moviecard-container {
      height: 200px; } }
  .moviecard-container .card-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 5%;
    opacity: 0;
    transition: 0.5s; }
    @media screen and (max-width: 767px) {
      .moviecard-container .card-overlay {
        display: none; } }
    .moviecard-container .card-overlay:hover {
      opacity: 0.8; }
    .moviecard-container .card-overlay .title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 8px; }
    .moviecard-container .card-overlay .genre {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 8px;
      font-size: 1rem; }
      .moviecard-container .card-overlay .genre span {
        margin-right: 2px;
        margin-bottom: 2px;
        padding: 0 4px;
        border: 1px solid #e50914;
        background-color: #e50914;
        border-radius: 8px; }
        .moviecard-container .card-overlay .genre span:last-child {
          margin-right: 0; }
    .moviecard-container .card-overlay .etc {
      font-size: 1rem; }
      .moviecard-container .card-overlay .etc span:first-child {
        margin-right: 12px; }
      .moviecard-container .card-overlay .etc span:last-child {
        color: #e50914;
        font-weight: 700; }

.slide:last-child {
  margin-bottom: 5vh; }

.custom-dot-list-style button {
  background-color: #fff;
  width: 20px;
  height: 1px;
  visibility: hidden; }
  @media screen and (min-width: 1200px) {
    .custom-dot-list-style button {
      visibility: visible; } }

.modal-background {
  width: 100%;
  height: 105vh;
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden; }
  @media screen and (max-width: 767px) {
    .modal-background {
      left: 50%;
      transform: translateX(-50%); } }
  .modal-background.open {
    animation: FadeIn 0.3s; }
  .modal-background .modal-container {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    padding: 30px;
    overflow-x: hidden; }
    @media screen and (max-width: 767px) {
      .modal-background .modal-container {
        height: 50%; } }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .modal-background .modal-container {
        height: 50%; } }
    .modal-background .modal-container .controller {
      position: absolute;
      top: 0;
      right: 6%;
      overflow-x: hidden;
      font-size: 2rem; }
      @media screen and (max-width: 767px) {
        .modal-background .modal-container .controller {
          top: 3.5%;
          font-size: 1.1rem; } }
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        .modal-background .modal-container .controller {
          top: 4%;
          font-size: 1.2rem; } }
    .modal-background .modal-container .iframe {
      width: 90%;
      height: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      @media screen and (max-width: 767px) {
        .modal-background .modal-container .iframe {
          height: 70%; } }
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        .modal-background .modal-container .iframe {
          height: 75%; } }

@keyframes FadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.slide-container h1 {
  font-size: 2rem; }
  @media screen and (max-width: 767px) {
    .slide-container h1 {
      font-size: 1.5rem; } }

.spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.moviedetail-container {
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 767px) {
    .moviedetail-container {
      display: block; } }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .moviedetail-container {
      display: block; } }
  .moviedetail-container .movie-poster {
    display: flex;
    justify-content: end;
    width: 30%;
    padding: 0 20px; }
    .moviedetail-container .movie-poster img {
      width: auto;
      max-height: 900px; }
    @media screen and (max-width: 767px) {
      .moviedetail-container .movie-poster {
        justify-content: center;
        width: 100%;
        padding: 2% 5%;
        margin-bottom: 15px; }
        .moviedetail-container .movie-poster img {
          width: 100%; } }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .moviedetail-container .movie-poster {
        justify-content: center;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px; } }
  .moviedetail-container .movie-info {
    width: 30%;
    padding: 0 20px; }
    @media screen and (max-width: 767px) {
      .moviedetail-container .movie-info {
        width: 100%; } }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .moviedetail-container .movie-info {
        width: 100%; } }
    .moviedetail-container .movie-info .title {
      font-weight: 700;
      margin-bottom: 20px; }
      @media screen and (max-width: 767px) {
        .moviedetail-container .movie-info .title {
          font-size: 1.3rem;
          margin-bottom: 10px; } }
    .moviedetail-container .movie-info .genre {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px; }
      .moviedetail-container .movie-info .genre span {
        margin-right: 8px;
        margin-bottom: 4px;
        padding: 4px;
        border: 1px solid #e50914;
        background-color: #e50914;
        border-radius: 8px; }
        .moviedetail-container .movie-info .genre span:last-child {
          margin-right: 0; }
      @media screen and (max-width: 767px) {
        .moviedetail-container .movie-info .genre {
          margin-bottom: 10px; }
          .moviedetail-container .movie-info .genre span {
            font-size: 0.9rem;
            padding: 0 4px; } }
    .moviedetail-container .movie-info .basic-info {
      margin-bottom: 25px; }
      .moviedetail-container .movie-info .basic-info span {
        font-size: 1.2rem;
        font-weight: 700; }
      .moviedetail-container .movie-info .basic-info .adult-auth {
        color: #e50914;
        font-weight: 700;
        font-size: 1.2rem; }
      .moviedetail-container .movie-info .basic-info .ad-button {
        font-size: 1.2rem;
        font-weight: 700; }
        .moviedetail-container .movie-info .basic-info .ad-button * {
          color: #e50914; }
        .moviedetail-container .movie-info .basic-info .ad-button span {
          margin-left: 8px; }

.moviereview-container {
  padding: 0 20px; }
  .moviereview-container .review-tab {
    margin-bottom: 20px; }
    .moviereview-container .review-tab button {
      width: 30%;
      height: 40px;
      margin-right: 8px;
      border: 1px solid #666666;
      border-radius: 4px;
      background-color: #666666;
      opacity: 0.3;
      transition: 0.5s; }
      .moviereview-container .review-tab button span {
        margin-left: 8px;
        background-color: #666666; }
      .moviereview-container .review-tab button.active {
        opacity: 1; }

.top-button {
  position: fixed;
  bottom: -100px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #e50914;
  border-radius: 50%;
  transition: 0.5s;
  visibility: hidden;
  cursor: pointer; }
  .top-button.active {
    bottom: 20px;
    visibility: visible; }

/*# sourceMappingURL=App.css.map */